body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.nav{
  margin: auto; 
  padding: 10px 0; 
  background-color: beige; 
} 

input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}
form button{
  background-color:#ddd;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Montserrat"; 
  cursor: pointer;
}
#form{
  margin: 7%;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.nav-menu{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 3%;
}
.nav-logo{
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400; 
  color: #333;
  margin: 3%;
}
.leftmenu{
  margin-right: 10%;
}

.home{
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 20px;
}
.panel-h1{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 3%;
}

.panel-h2{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.addflower{
  font-family: "montserrat", sans-serif;
  font-size: 18px;
}
.flex-1 p{
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0;
}
.flower-details{
  display: grid;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 0 10px 0; 
  padding: 20px;
  /* position: relative; */
  box-shadow: 2p 2px 5px rgba(0,0,0,0.05);

}
.flower-image{
  width: 50%;
  height: auto;
  border-radius: 4px;
  gap: 50%;
} 

.delete-button{
  padding: 10px;
  background-color: #ff4d4d;
  color: #fff;
  border-radius: 4px;
  margin: 3%;
  
}

.header {
  display: flex;
  justify-content: space-between; /* Space between Admin Panel and buttons */
  align-items: center; /* Vertically align items */
  margin: 7%; 
}
.divider{
  width: 100%; 
  height: 1px;
  background-color: #ddd;
  margin-top: -40px;
}
.button-group{
  margin: 7%;
}

@media(min-width: 768px){
  .home{
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
    gap: 100px; /* Two columns on larger screens */
  }
}
.flex-1{
  background: #fff;
  border-radius: 4px;
  margin-left: 45%;
  padding: 20px;
  transform: translateY(-200%);
  position: relative;
}

.flower-image{
  width: 40%;
} 

.flex-1 p{
  font-size: 14px;
  font-weight: 600;
}
.delete-button{
  transform: translateY(-250%);
}
.fetch-button{
  background-color: black;
  color: #ddd;
  gap: 20px;
  border-radius: 4px;
}
.add-button{
  background-color: #fff;
  color: #333;
  border-radius: 4px;
}
.panel-h1{
  font-size: 20px;
  font-weight: 600;
}
.panel-h2{
  font-size: 16px;
  font-weight: 400;
}

@media(min-width:1024px){
.home{
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
  gap: 100px; /* Three columns on larger screens */
  } 
  
  .flex-1{
    font-size: 40px;
    font-weight: 700;
  }
  input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  .flex-1 p{
    font-size: 16px;
    font-weight: 600;
  }
  .panel-h1{
    font-size: 24px;
    font-weight: 600;
  }
  .panel-h2{
    font-size: 20px;
    font-weight: 400;
  }
}