.header{
    color:white;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-links{
    display: none;
}